.navbar {
    background-color: mediumaquamarine;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  a {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  .mat-toolbar{
      background-color: darkblue;
  }


