<header>
    <nav class="navbar">
      <div class="wrapper">
        <mat-toolbar color="primary">
          <a routerLink="" matTooltip="Home" aria-label="Go to Home">
            
            <span>myFlix</span>
          </a>
  
          <span class="nav-buttons" style="flex: 1 1 auto"></span>
          <button
            routerLink="movies"
            mat-button
            matTooltip="Movies list"
            aria-label="Go to Movies list"
          >
            MOVIES
          </button>
          <button
            routerLink="favorites"
            mat-button
            matTooltip="Favorites list"
            aria-label="Go to Favorites list"
          >
            FAVORITES
          </button>
          
          <button
            routerLink="profile"
            mat-button
            matTooltip="Profile"
            aria-label="Go to Profile"
          >
            PROFILE
          </button>
          <button
            (click)="logout()"
            mat-button
            matTooltip="Log out"
            aria-label="Log out"
          >
            LOG OUT
          </button>
          
        </mat-toolbar>
      </div>
    </nav>
  </header>